
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }  

*{
    font-family: "Boldonse", system-ui;
}

body
{
    background-color: rgb(156, 147, 147);
}
h1{
    display: flex;
    justify-content: center;
}
a{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 2rem;
    background-color: rgb(152, 165, 189);
}

h3{
    font-size: 2rem;
    margin: 0px;
}


.membros{
    background-color: azure;
    display: block;
    justify-content: center;
    justify-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

li{
    display: flex;

}